body {
    font-size: 20px;
}

.mainHeader {
    height: 1300px;
    background-image: url(./pictures/background.jpg);
    background-size: cover;
    background-position: 100% 10%;
    background-attachment: fixed;
}

.mainNav {
    float: right;
    margin-right: 75px;
}

.mainNav_links {
    margin-top: 10px;

}

.mainNav_links li {
    font-family: 'Dancing Script', cursive;
    text-shadow: 0px 0px 1px black;
    list-style-type: none ;
    margin-left: 49px;
    font-size: 150%;
    margin-top: 10px;
}

.mainIcon {
    margin-top: 100px;
}

.mainNav_links, .slogan, .slogan_button {
    color: white;
}

.mainIcon{
    text-align: center;
}

.slogan {
    padding-top: 220px;
    text-shadow: 0px 0px 10px black;
    opacity: 0.6;
    float: left;
    line-height: 310%;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.slogan_top {
    font-size: 300%;
}

.slogan_bot {
    font-size: 200%;
}

.slogan_button {
    color: white;
    margin-left: 130px;
    float: left;
    text-shadow: 0px 0px 2px black;
}

.slogan_button:hover  {
    text-shadow: 0px 0px 2px black;
    color: white;
    margin-left: 130px;
}

.service1 {
    background-color: rgba(0, 0, 0,0.9 );

}

.service1_text {
    font-family: 'Muli', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: justify;
    font-size: 90%;
    padding-right: 70px;
    color: white;
}


.service1_pic {
    width: 75%;
    float: right;
    border-radius: 700px;
    padding-top: 50px;
    padding-bottom: 50px;


}

.service2 {
    background-color: rgba(0, 0, 0,0.9 );
}

.service2_pic {
    width: 75%;
    float: left;
    border-radius: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service2_text {
    font-family: 'Muli', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: justify;
    font-size: 90%;
    padding-left: 10% ;
    color: white;

}

.contact {
    background-image: url("pictures/tokyo_night.JPG");
    background-position: 0% 20%;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.contact_links {
    font-size: 300%;
    text-align: center;
}

.contact_heading {
    padding-top: 50px;
    font-family: 'Muli' , sans-serif;
    color: white;
    text-align: center;
    font-weight: lighter;
    
}

.contact_links li {
    padding-left: 10px;
    display:inline-block;
}

.contact_links a {
    color: rgb(255, 255, 255);
}

.intress {
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0,0.9 );
    padding-top: 50px;
    color: white;
}

.pimg2 {

    height: 1000px;
    background-image: url("pictures/handmade_pic.jpg");
    background-size: cover;
    background-attachment: fixed;
}



.pimg1 {
    background-image: url("pictures/henna_draw.jpg");
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
}

.contact_owner {
    text-align: center;
}

.contact_picture {
    border-radius: 800px;
    border: 4px solid rgb(255, 255, 255);
}